# Home Assistant data
home-assistant_v2.db*
home-assistant.log
.HA_VERSION
.storage/
.cloud/
deps/
tts/
image/

# Configuration
secrets.yaml
SERVICE-ACCOUNT.json

# Custom Components
custom_components/smaug/const.py
__pycache__/
